


/* New CSS */

.panel-content{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  padding: 20px;
 
  /* min-height: 660px; */
  margin: 0 20px;
}

.panel_class{
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column;
  padding: 0;
  width: 350px !important;

}
.header_panel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 350px;
  padding: 0 10px;
  transform: translateX(20px);

}

.header_panel div{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
}

.header_panel div p:first-child{
  font-weight: bold;
  margin-right: 10px;
}

.header_panel div span{
  padding-right: 10px;
}